.main-page{
    background:$beige;
    padding: 36px 0 152px 0;
    position: relative;
    &__title{
        padding-bottom: 23px;
        color: #1F1F1F;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px; /* 125% */
        margin-top: 72px;
    }
}
.dark-mode-title{
  color: white;
}

.main-page-dark{
  background-color: black;
  color: white;
}
.product-container{
    border: 1px solid #A8A8A8 ;
    height: 512px;
    position: relative;
    background-color: white;
    padding: 32px;
  box-sizing: border-box;
}
    .product-container__dark{
      background-color: silver;
    }
.main-page_benefits-conteiner{
    display: grid;  
    grid-template-columns: 306px 306px 306px 306px;
   justify-content: space-between;
  grid-row-gap: 32px;
  padding-top: 24px;
  border-top: 1px solid #A8A8A8;
}
.main-page__chat-icon{
  position: fixed;
  right: 50;
  top: 500;
  padding: 12px;
  background-color: $header-t-bg;
  border-radius: 50px;
  z-index: 1;
  &:hover{
    transform: rotate(25deg);
  }
}

