@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

body{
    font-family: $font-main;
    color: black;
    font-size: 16px;
}
.container{
    padding: 0 15px;
    width: 1326px;
    margin: 0 auto;
   box-sizing: border-box;
}
img{
  margin-left: 32px;
  margin-right: 32px;
}
a{
  text-decoration: none;
  color: black;
}
