.header{
 background-color: $header-t-bg ;
 position: fixed;
 z-index: 1;
 position: fixed;
 z-index: 1;
top: 0px;
left: 0px;
right: 0px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.header__logo{
    display: flex;
    align-items: center;
    color: #F8FDFE;
    font-size: 24px;
}
.header__basket{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__basket {
    color: #F8FDFE;
}
.header__basket-btn {
    font-size: 12px;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
    color: white;
}


