.header__nav{
    background-color: #FFF; 
    padding: 4px 0;
 }
 .header__menu{
  display: flex;
   justify-content: space-between;
 }
 .header__menu-text{
   display: flex;
   justify-content: space-between;
 }
.header__nav-list{
    display: flex;
   column-gap: 40px;
}
