@mixin border-p {
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
  }
.main-page__badge{
    position: absolute;
    color: #F8FDFE;
    line-height: 24px; 
}
.main-page__product-bestseller-badge{
    background-color:#4200FF;
    @include border-p;
}
.main-page__product-new-badge{
    background-color: #AF39E7;    
    @include border-p;
}
.main-page__product-discount-badge{
    background: #EA33C0;
    @include border-p;
}