
.main-page__product-container__book-title{
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #8E8E8E ;
    margin-bottom: 0px;
    margin-top: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-page__product-container__book-author{
    color:  #8E8E8E;
    margin-bottom: 8px;
    margin-top: 4px;
}
.main-page__product-container__book-price{
    color: #E90000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    padding-top: 8px;
}
.main-page__product-container__book-old-price{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
    color: #8E8E8E;
    text-decoration: line-through;
    padding-left: 24px;
}