.main-page__product-container__btn-add-to-basket{
    background-color: #4C394E;
     color: white;
    width: 242px;
    height: 40px;
    margin-top: 16px;
     border: none; 
     border-radius: 5px; 
     cursor: pointer;
     display: block; 
     &:hover{
        background-color: #744978 
     }
    }
    .main-page__product-container__btn-add-to-basket-darkMode{
        background-color: midnightblue;
       &:hover{
        background-color: blue 
    }}

    .main-page__product-container__btn-end-to-cart{
    background-color:  #4D762D;
    color: white;
    width: 242px;
    height: 40px;
    margin-top: 16px;
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругляем углы кнопки */
    cursor: pointer;
    display: block; /* Изменяем курсор при наведении на кнопку */
    &:hover{
        background-color:  #6DB236
    }
         }
        .btn-b   {
            border: 0px;
            background: none;
         } 